<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>sushi_plate</title>

    <!-- style -->
    <style type="text/css">
      .plate {
        width: 300px;
        height: 30px;
        background-color: gray;
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <div class="label">
        <div class="label__main"></div>
        <div class="lable__stand"></div>
      </div>
      <div class="plate"></div>
    </div>
  </body>
</html>
