.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  background-color: #f9f9f9;
  width: 100%;
  height: 5rem;
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
  width: 100%;
}

.nav-link__icon {
  width: 1.5rem;
  margin: 0 auto;
}

.nav-link__text {
  font-family: "Heiti TC", "Abel", sans-serif;
  font-size: 0.75rem;
}

.active {
  background-color: #ffcfcf;
}
