@import url("https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:400,700");
@font-face {
  font-family: "AmericanTypewriter";
  src: url("/src/assets/fonts/American\ Typewriter\ Regular.ttf") format("ttf");
}

/* General Components Styles */
html,
body,
#app {
  height: 100%;
  width: 100%;
}

body {
  background-color: #fad9d0;
  fill: #31549e;
}

ul {
  list-style: none;
}

button {
  outline: none;
  cursor: pointer;
  border: none;
  background-color: white;
}

button[disabled] {
  cursor: default;
}

a {
  text-decoration: none;
}

/* General Font Styles */
* {
  color: #31549e;
}

body,
h3 {
  font-family: "AmericanTypewriter", Courier, monospace;
}

h1,
h2,
nav,
button {
  font-family: "Barlow Semi Condensed", sans-serif;
}

/* General Wrapper Styles */
.wrapper {
  margin: 0 auto;
  margin-bottom: 4rem;
}

/* General Block Styles */
.block {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 17rem;
  border-radius: 0.35rem;
  border: 7px solid #31549e;
  letter-spacing: 1px;
}

.block > * {
  max-width: 100%;
}
